body{
    
    color:#777;
    background-color: #777;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}



h1 {
    background-color: rgb(243, 241, 241);
    width: 960px;
    padding: 25px;
    text-align: center;
    
    
}

nav{
    background-color: rgb(243, 241, 241);
    width: 960px;
    padding: 25px;
}

section{
    background-color: rgb(243, 241, 241);
    width: 550px;
    height: 50px;
    margin-left: ;
    margin-top: 10px;
    float:left;
    
    
    
}




aside{
    background-color: rgb(243, 241, 241);
    width: 435px;
    height: 300px;
    float:left;
    margin-top: 10px;
    margin-left:10px;
    text-align: center;
    
}


article {
    background-color:  #777;
    width: 530px;
    height: 230px;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(243, 241, 241);
    
    color:rgb(243, 241, 241);
    
}




h2{
    color:#777;
    text-align: center;
    background-color: rgb(243, 241, 241);
    width: 500px;
    height: 65px;
    margin-left: 2.75%;
    margin-top: 7%;
    
}

p{
    color: #777;
    text-align: center;
    background-color:rgb(243, 241, 241); 
    width: 500px;
    height: 65px;
    margin-left: 2.75%;
    
}

{
    color: #777;
    text-align: center;
    background-color: rgb(243, 241, 241);
    width: 1005px;
    height: 75px;
    
   
}